metadata:
  maintainer: Tobias Sterbak (tsterbak)
  device_name: Fairphone 2
  is_ab_device: false
  device_code: FP2
  supported_device_codes:
    - FP2
steps:
  unlock_bootloader:
  boot_recovery:
    - type: call_button
      content: >
        Now you need to boot a custom recovery system on the phone. A recovery is a small subsystem on your phone, that manages updating, 
        adapting and repairing of the operating system.
        
        Make sure your device is turned on and connected to the computer. Boot into the bootloader by pressing 'Confirm and run' here. Then continue.
      command: adb_reboot_bootloader
    - type: call_button
      img: twrp-start.jpeg
      content: >
        Boot a custom recovery (temporarily) by pressing 'Confirm and run'. Once it's done continue.
      command: fastboot_boot_recovery